
  .header__logo-image svg {
    height: 22px;
  }
  .header_linklist_item{
    position: relative;
    cursor: pointer;
    transition: all 0.35s;
  }
  .header_linklist_item:hover,.header_linklist_item[aria-expanded="true"] {
    color: var(--t_color);
  }
  .header_linklist_item svg{
    position: absolute;
    top: -6px;
    right: -16px;
  }
  /* #desktop-menu-1{
    visibility: visible; 
    opacity: 1;
    position: absolute;
    display: block !important;
  } */
  .mega-menu{
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  }
  .mega_menuBox  {
    border: unset;
    clip-path: polygon(36px 0%,100% 0%,100% calc(100% - 36px),calc(100% - 36px) 100%,0% 100%,0% 0);
  }
   
  .mega_menu_rightBoxImg img{
    width: 100%;
  }
  .mega_menuBox.section_button1 {
    border: unset;
    background-color: #1e1e1e;
  }
  .mega_menu__inner{
    padding: 40px;
  }
  .header--bordered .mega-menu{
    margin-top: unset;
  }
  .mega_menu_left{
    display: flex;
    width: 64%;
    flex-direction: column;
    justify-content: space-between;
  }
  .mega_menu_right {
    width: 35%;
  }
  .mega_menu_leftTop{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
  }
  .mega_menu_title{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -.28px;
    display: block;
    padding: 8px;
    position: relative;
    transition: all 0.25s;
    line-height: 140%;
  
  }
  .mega_menu_leftBox.active .mega_menu_title{
    background-color: #f5f5f7;
  }


 .header__wrapperBox {
     width: 100%;
 }
 .header_dropdownAll {
  position: relative;
 }
 .header_dropdownAll .header_linklist_item {
  display: none;
 }
  .mega_menu_leftBottomBox_img img,.mega_menu_rightBottomBox_img img{
    width: 100%;
  }
  .mega_menu_rightBottomBox_img.section_button1 .corner-tl,.mega_menu_rightBottomBox_img.section_button1 .corner-br{
    width: 24px;
    height: 24px;
  }
  .mega_menu_rightBottomBox_img.section_button1 {
    clip-path: polygon(24px 0%, 100% 0%, 100% calc(100% - 24px), calc(100% - 24px) 100%, 0% 100%, 0% 24px);
  }
  .corner_br2 {
    background-color: unset !important;
  } 
  @media (min-width: 1200px) and (max-width: 1440px) {
    .mega_menu__inner,.mega_menu_leftBottom,.mega_menu_leftBottom2 {
      gap: 26px;
    }

    .mega_menu_leftBottom1 {
        grid-template-columns: repeat(2, 1fr);
    } 
  }
  .header__icon .svg-wrapper {
      width: auto;
      height: auto;
  }
  .header__icon, .header__icon--cart .icon {
      width: auto;
      height: auto;
  }
  .header_logoMobile {
    display: none;
  }
  @media (min-width: 1200px) {
    .mega_menu_rightBottomBox:hover {
      --blur-radius: 10px;
      --x-offset: 2px; 
      --y-offset: -2px;
      --color: #dab736ad;
      filter: drop-shadow(var(--x-offset) var(--y-offset) var(--blur-radius) var(--color));
    }
    .mega_menu_rightBottomBox:hover .mega_menu_rightBottomBox_img:after {
      content: unset;
    }
    .mega_menu_rightBottomBox:hover .section_button1 {
        border-color: #DAB736;
    }
    .mega_menu_rightBottomBox:hover .corner-tl,.mega_menu_rightBottomBox:hover .corner-br  {
        background-color: #DAB736;
    }
    .mega_menu_rightBottomBox:hover .dis1, .mega_menu_rightBottomBox:hover .dis2 {
        background-color: #DAB736;
    }
    .header__wrapperBox {
      padding: 15px 40px;
      border: unset;
      gap: 20px;
      display: flex;
      padding-left: unset;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      backdrop-filter: blur(8px);
      justify-content: space-between;
      background: rgba(117, 120, 123, 0.20);
    }

    .mega_menu_rightTop{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 20px;
      row-gap: 20px;
      margin-top: 20px;
    }
    .mega_menu_rightBottom {
      margin-top: 38px;
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(2,1fr);
    }
    .mega_menu {
      height: auto;
    }
    .mega_menu .container, .mega_menu__inner {
      height: 100%;
    }
    .nav-dropdown {
        margin-left: -20px;
    }
    .mega_menu_leftBottom {
      display: flex;
      gap: 40px;
      margin-top: 20px;
    }
    .mega_menu_leftBottom1 {
      display: grid;
      gap: 20px;
      height: max-content;
      width: calc(100% - 303px);
      row-gap: 23px;
      max-width: 580px;
      grid-template-columns: repeat(3,1fr);
    }
    .mega_menu_leftBottomBox {
      max-width: 160px;
      display: block;
      text-align: center;
    }
    .mega_menu_leftBottomBox_text {
      text-align: center;
      margin-top: 10px;
    }
    .mega_menu_leftBottom2 {
      max-height: 352px;
      column-width: 133px;          /* 每一列的理想宽度 */
      column-gap: 40px;             /* 列间距 */
      column-fill: auto;            /* 按高度填充后再换列 */
    }
    .mega_menu_leftBottom2_list {
      break-inside: avoid;
      margin-bottom: 42px; 
      -webkit-column-break-inside: avoid;
    }
    /* .mega_menu_leftBottom2_list .font2:hover{ 
      color: #fff;
    } */
    .mega_menu_leftBottom2_list a{
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .mega_menu_leftBottom2_bottom {
      margin-top: 10px;
      color: #B5B5B6;
    }
    .mega_menu_leftBottom2_bottomItem:not(:first-child) {
      margin-top: 10px;
    }
    .mega_menu_rightBottomBox {
      position: relative;
      display: block;
    }
    .mega_menu_rightBottomBox_text {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 12px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
    .mega_menu_rightBottomBox_img {
      position: relative;
    }
    .mega_menu_rightBottomBox_img::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-image: url(https://cdn.shopify.com/s/files/1/0785/8421/7824/files/image_19_1.png?v=1765506282);
      bottom: 0;
      transition: all 0.3s;
    }
    .mega_menu_rightBottom_list a,.mega_menu_leftBottom2_list a,.mega_menu_leftBottomBox_text {
      line-height: 1.2;
      transition: all 0.35s;
      letter-spacing: -0.84px;
    }
    .mega_menu_rightBottom_list a:hover,.mega_menu_leftBottom2_list a:hover ,.mega_menu_leftBottomBox:hover .mega_menu_leftBottomBox_text {
      color: var(--f_color3);
    }
  }
  
  @media (max-width: 1200px) {
      .header_left {
        display: flex;
        gap: 20px;
        align-items: center;
      }
      .header__wrapperBox {
        padding: 15px 40px;
        border: unset;
        gap: 20px;
        display: flex;
        padding-left: unset;
        width: 100%;
        align-items: center;
        margin-top: 20px;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        justify-content: space-between;
        background: #75787b33;
      }
      .header__wrapper {
          gap: 10px;
          justify-content: space-between;
      }
      .header__search {
          display: flex !important;
      }
      .header__icons {
          gap: 24px;
      }
      .header .pad_pc { 
          display: none !important;
      } 
      .header .pad_mobile {
          display: block !important;
      }
      .cart-count-bubble {
          color: #fff !important;
          background-color: #000 !important;
      }
      
      .header__logo-image{
        max-width: 200px;
        line-height: 1;
      }
      .js .header--transparent .header__logo-image:not(:last-child){
        display: block;
        opacity: 1 !important;
      }
      .header-drawer {
          margin-left: unset;
      }
  
      /* .shopify-section--header {
          margin-bottom: unset !important;
      }  */
      .header__logo-image--transparent {
          display: none !important;
      } 
      desktop-navigation {
        display: none;
      }
      .menu-drawer {
        position: fixed;
        transition: all 0.3s;
        transform: translateX(-100%);
        visibility: hidden;
        opacity: 0;
        z-index: 3;
        left: 0; 
        top: 0; 
        bottom: 0;
        width: 100%;
        padding: 0;
        background-color: rgba(var(--color-foreground),.5);
        filter: drop-shadow(
          var(--drawer-shadow-horizontal-offset) var(--drawer-shadow-vertical-offset) var(--drawer-shadow-blur-radius)
            rgba(var(--color-shadow), var(--drawer-shadow-opacity))
        );
      }
      .menu-drawer.active {
        transform: translateX(0%);
        visibility: visible;
        opacity: 1;
      }

  } 
  @media (max-width: 768px) {
    .header-wrapper .page-width {
      padding: 0;
    }
    .header__search_modal .modal__content {
      min-height: 80px;
      bottom: unset;
      height: auto;
    }
    .header__wrapperBox {
      margin-top: unset;
      clip-path: unset !important;
      padding: 6px 20px;
      padding-left: 20px;
      min-height: 48px;

      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      align-items: center;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    .header__wrapper .section_button1 .corner_tl,.header__wrapper .section_button1 .corner_br {
      display: none;
    }
    .header_menu {
      padding-left: unset !important;
    }
    .header__icons {
      gap: 16px;
    }
    .header__icons .svg-wrapper {
      width: 16px;
      height: auto;
    }
    .header_left .header__logo {
      display: none;
    } 
    .header_logoMobile {
      display: block;
    }
    .header__search_modal .search__button,.header__search_modal .reset__button,.header__search_modal .search-modal__close-button   {
      width: 40px !important;
      height: 40px !important;
    }
    .header__wrapperBox .reset__button {
      right: 40px;
    }
     .header__search_modal .search__input.field__input {
      font-size: 12px;
    }
    .search-modal__content {
      padding-right: 3rem;
    }
    .search__button .svg-wrapper {
      width: 20px;
      height: auto;
    }

  }
.announcement_all, .header_all {
  transition: transform .35s ease !important;
}

.mega_menu__inner {
  display: flex;
  gap: 46px;
}
.mega_menu_line {
  width: 1px;
  height: auto;
  background: linear-gradient(
    to bottom,
    #75787B,
    transparent
  );
}