.section_index1All a{
    color: unset;
    text-decoration: unset;
}
.section_index1All p,.section_index1Box_title{
    margin: 0;
}
.section_index1All a:hover{
    color: unset;
}
.section_index1Box_img{
    height: 100%;
    overflow: hidden;
}
.section_index1Box_img img,.section_index1Box_img video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section_index1Box{
    position: relative;
}
#shopify-section-{{section.id}} .section_index1Box_position{
    position: absolute;
}
.section_index1Box_button {
    display: inline-flex;
    gap: 32px;
}
.section_index1Box_buttonBox,.section_index1Box_buttonBox svg path {
    transition: all 0.5s;
}
.section_index1Box_buttonBox:hover {
   opacity: 0.8;
}


.section_index1Box_position{
    width: 100%;
    left: 0;
    top:0;
    bottom: 0;
    right: 0;
} 

.section_index1Box_text,.section_index1Box_title,.section_index1Box_buttonBox {
    line-height: 1.25;
}
.section_index1Box_positionTop {
    max-width: 435px;
    margin: 0 auto;
}
@media(min-width:1000px) {
 
    .grid-1 {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(1,1fr);
    }
    .grid-2 {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2,1fr);
    }
    .section_index1Box{
        border-radius: 8px;
        overflow: hidden;
    }
    .section_index1Box_position{
        padding: 2.5rem;
        text-align: center;
    }
    .section_index1Box_title {
        font-size: 36px;
    }
     .section_index1Box_text {
        font-size: 16px;
    }
    .section_index1Box_text{
        margin-bottom: 0.5rem;
    }
    .section_index1Box_button {
        margin-top: 1rem;
        font-size: 14px;
    }
    .section_index1Box_buttonBox {
        display: flex;
        justify-content: center;
        gap: 8px;
        align-items: center;
        width: max-content;
    }

}
@media(max-width:999px) {
 
    .grid-1 {
        display: grid;
        gap: 12px;
        grid-template-columns: repeat(1,1fr);
    }
    .grid-2 {
        display: grid;
        gap: 12px;
        grid-template-columns: repeat(1,1fr);
    }
    .section_index1Box_position{
        padding: 2.5rem var(--container-gutter);
        text-align: center; 
    }
    .section_index1Box img {
        height: 600px;
        object-fit: cover;
    }
    .section_index1Box_title {
        font-size: 30px;
    }
     .section_index1Box_text {
        font-size: 16px;
    }
    .section_index1Box_text{
        margin-bottom: 0.5rem;
    }
    .section_index1Box_button {
        margin-top: 1rem;
        font-size: 14px;
    }
    .section_index1Box_buttonBox {
        display: flex;
        justify-content: center;
        gap: 8px;
        align-items: center;
        width: max-content;
    }

}